<template>
  <div class="d-flex gap-2">
    <button
      class="btn"
      :class="{ 'btn-primary': currentCategory === 0 }"
      @click="$emit('select', 0)"
    >
      Все
    </button>
    <button
      class="btn"
      :class="{ 'btn-primary': currentCategory === category.id }"
      v-for="category of categories"
      :key="category.id"
      @click="$emit('select', category.id)"
    >
      {{ category.name }}
    </button>
  </div>
</template>

<script setup>
defineProps(['categories', 'currentCategory'])
defineEmits('select')
</script>