<template>
  <div>
    <img class="w-100 img-fluid rounded" :src="`/images/dish${dish.id}.jpg`" />
    <div class="d-flex justify-content-between align-items-center py-2">
      <div class="fs-4">{{ dish.title }}</div>
      <div class="fs-4">{{ dish.price }} ₽</div>
    </div>
    <div>{{ dish.description }}</div>
  </div>
</template>

<script setup>
defineProps(['dish'])
</script>