<script setup>
import { ref } from 'vue'
defineProps(['options'])
const emit = defineEmits('targetOrder', 'sortOrder')
const selected = ref('none')
const direction = ref(0)
function select() {
  emit('sortTarget', { target: selected.value, order: direction.value })
}
function toggleDirection() {
  direction.value = direction.value ? 0 : 1
  emit('sortOrder', direction.value)
}
</script>

<template>
  <div class="d-flex gap-4">
    <select v-model="selected" class="form-select" @change="select">
      <option v-for="option of options" :key="option.id" :value="option.option">
        {{ option.name }}
      </option>
    </select>
    <button class="btn btn-light" @click="toggleDirection">
      <i :class="direction === 0 ? 'bi-sort-down-alt' : 'bi-sort-down'" />
    </button>
  </div>
</template>