<script setup>
import { ref } from 'vue'
defineProps(['demoData'])
const emit = defineEmits(['saveItem'])
const editItem = ref({})
function itemEdit(item) {
  Object.assign(editItem.value, item)
}
function saveItem() {
  emit('saveItem', editItem.value)
  document.getElementById('closeEditModal').click()
}
</script>

<template>
  <div>
    <h1 class="py-4">Редактирование меню</h1>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Действия</th>
          <th>Название</th>
          <th>Описание</th>
          <th>Цена</th>
          <th>Изображение</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item of demoData.dishes" :key="item.id">
          <td>{{ item.id }}</td>
          <td>
            <div>
              <button
                type="button"
                class="btn btn-light mb-2"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
                @click="itemEdit(item)"
              >
                <i class="bi-pencil-square" />
              </button>
              <button class="btn btn-light" @click="remove">
                <i class="bi-trash3" />
              </button>
            </div>
          </td>
          <td>{{ item.title }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.price }}</td>
          <td class="col-2">
            <img
              class="w-100 img-thumbnail rounded"
              :src="`/images/dish${item.id}.jpg`"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content px-3">
          <form class="row g-3">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">
                Редактирование
              </h1>
              <button
                id="closeEditModal"
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="formTitle" class="form-label">Название</label>
                <input
                  type="text"
                  class="form-control"
                  id="formTitle"
                  v-model="editItem.title"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="formDescription" class="form-label">Описание</label>
                <textarea
                  class="form-control"
                  id="formDescription"
                  v-model="editItem.description"
                />
              </div>
              <div class="mb-3">
                <label for="formPrice" class="form-label">Цена</label>
                <input
                  type="number"
                  class="form-control"
                  id="formPrice"
                  v-model="editItem.price"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="formImage" class="form-label">Изображение</label>
                <div class="d-flex">
                  <div class="col-2">
                    <img
                      class="w-100 img-thumbnail rounded"
                      :src="`/images/dish${editItem.id}.jpg`"
                    />
                  </div>

                  <input class="form-control" type="file" id="formImage" />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Отмена
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                @click.prevent="saveItem"
              >
                Сохранить
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>