<script setup>
import DishCard from './DishCard.vue'
import CategoriesFilter from './CategoriesFilter.vue'
import DishSorting from './DishSorting.vue'
import { reactive, computed } from 'vue'
import demoData from '../data/demoData'
defineProps(['demoData'])
const sortOptions = [
  { id: 0, name: 'Без сортировки', option: 'none' },
  { id: 1, name: 'Название', option: 'title' },
  { id: 2, name: 'Цена', option: 'price' },
  { id: 3, name: 'Кухня', option: 'category' }
]
const state = reactive({
  currentCategory: 0,
  currentSortTarget: '',
  currentSortOrder: 0
})
const dataDishes = computed(() => {
  let data = []
  if (state.currentCategory) {
    data = demoData.dishes.filter(
      (item) => item.category === state.currentCategory
    )
  } else {
    data = demoData.dishes
  }
  if (state.currentSortTarget) {
    data = data.sort((a, b) => {
      if (a[state.currentSortTarget] > b[state.currentSortTarget]) {
        return state.currentSortOrder ? -1 : 1
      }
      if (a[state.currentSortTarget] < b[state.currentSortTarget]) {
        return state.currentSortOrder ? 1 : -1
      }
      return 0
    })
  }
  return data
})
function categorySelect(event) {
  state.currentCategory = event
}
function sortTarget(event) {
  state.currentSortTarget = event.target
  state.currentSortOrder = event.order
}
function sortOrder(event) {
  state.currentSortOrder = event
}
</script>

<template>
  <div>
    <h1 class="py-4">Меню</h1>
    <div class="d-flex justify-content-between align-items-center mb-4">
      <categories-filter
        :categories="demoData.categories"
        :currentCategory="state.currentCategory"
        @select="categorySelect"
      />
      <dish-sorting
        :options="sortOptions"
        @sortTarget="sortTarget"
        @sortOrder="sortOrder"
      />
    </div>
    <div class="d-flex flex-wrap justify-content-between gap-4">
      <div class="col-3 p-0" v-for="dish of dataDishes" :key="dish.id">
        <dish-card :dish="dish" />
      </div>
    </div>
  </div>
</template>
