<template>
  <ul class="nav">
    <li class="nav-item">
      <button type="button" class="btn btn-primary" @click="$emit('view')">
        Меню
      </button>
    </li>
    <li class="nav-item ms-1">
      <button type="button" class="btn btn-secondary" @click="$emit('edit')">
        Редактирование меню
      </button>
    </li>
  </ul>
</template>

<script setup>
const emit = defineEmits(['view', 'edit'])
</script>