<script setup>
import { ref } from 'vue'
import NavBar from './components/NavBar.vue'
import MenuView from './components/MenuView.vue'
import MenuEdit from './components/MenuEdit.vue'
import DemoData from './data/demoData'
const componentName = ref('MenuView')
const demoData = ref(DemoData)
const components = {
  MenuView,
  MenuEdit
}
function selectComponent(component) {
  componentName.value = component
}
function saveItem(item) {
  const index = demoData.value.dishes.findIndex((dish) => dish.id === item.id)
  demoData.value.dishes[index] = item
}
</script>

<template>
  <div class="container py-4 px-3 mx-auto">
    <nav-bar
      @view="selectComponent('MenuView')"
      @edit="selectComponent('MenuEdit')"
    />
    <component
      :is="components[componentName]"
      :demoData="demoData"
      @saveItem="saveItem"
    />
  </div>
</template>
